html, body, #app, #root {
  height: 100%;
  display: flex;
  flex-flow: column;
}

#app {
  perspective: 1000px;
  display: flex;
  flex-direction: column;
  
  /* background: linear-gradient(0deg, #7cf07f 25%, transparent 25%) 0 0 / 0.5em 0.5em,
              linear-gradient(0deg, #88d6f3 50%, transparent 50%) 0 0 / 1em 1em;
  animation: blinds 0.75s linear infinite; */
  
  background: radial-gradient(circle, #f6afc9 43%, transparent 0) 0 0 / 4em 4em, 
  radial-gradient(circle, #f6afc9 43%, transparent 0) 2em 2em / 8em 8em;
  /* animation: pulse 3s linear infinite; */

  background-color: #ffeafe;
}

iframe {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: none;
  background: #efefef;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#navBody {
  flex: 1 1 auto;
  transform-style: preserve-3d;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {  
  50% {
    background-position: 0.66em 0.66em, -0.33em -0.33em;
  }
  
  100% {
    background-size: 8em 8em, 4em 4em;
    background-position: -1.5em -1.5em, -1em -1em;
  }
}

@keyframes blinds {
  100% {
    background-position: 0 0, 0 -3em;
    background-size: 0 0, 1em 6em;
  }
}