html, body, #app, #root {
  height: 100%
}

#app {
  perspective: 1000px;
  background-color: #ce7f7f;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#navBody {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
